<div class="col-6 col-lg-4 mb-3">
    <div class="card-trip">
      <div class="card-tags">
        <% plant.tags.each do |tag| %>
          <span> <%= tag.name %></span>  
        <% end %>
        <%= link_to "+", new_plant_plant_tag_path(plant) %>
        
      </div>
      <img src="<%= plant.image_url %>" />
      <div class="card-trip-infos d-flex align-items-center justify-content-between">
        <h2><%= plant.name %></h2>
        <%= link_to plant_path(plant), method: :delete do %>
          <i class="fas fa-skull-crossbones"></i>
        <% end %>
      </div>
    </div>
</div>